body {
  margin: 0;
  padding: 0;
  text-align: center;
}

section {
  margin-top: 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  margin: 20px 40px;
}

.card-container {
  position: relative;
  justify-self: center;
  border: 2px solid black;
  width: 25%;
  margin: auto;
  padding: 20px;
  background-color: #f8e4c0;
  border-radius: 10px;
  box-sizing: border-box;
}

#characterPicture {
  width: 50%;
  height: auto;
}

/* Base corner style */
.corner {
  width: 50px;
  height: 50px;
  position: absolute;
  background: linear-gradient(135deg, #bbb, #eee 30%, #999 70%, #ccc);
  border-style: solid;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  z-index: 1;
}

.top-left {
  top: 0;
  left: 0;
  transform: rotate(0deg);
}

.top-right {
  top: 0;
  right: 0;
  transform: rotate(90deg);
}

.bottom-right {
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.bottom-left {
  bottom: 0;
  left: 0;
  transform: rotate(270deg);
}
